*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
text-align: center;
min-height: 100vh;
margin-top:10%;
background: #fff;
background-image: url(./imag/imag\ weather.jpg);
background-repeat: no-repeat;
background-size:cover;

}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header div p{
    display: flex;
    align-items: center;
    justify-content: center;

}
h1{
    margin-bottom: 1.1rem;
    color:rgb(248, 240, 240);
}

.citys ,#search, #err{
    width: 100px;
    height: 45px;
    text-align: center;
    border-radius: 7px;
    border: none;
    box-shadow: 1px 2px 13px 4px rgb(4, 83, 148);
    transition: all .5s ease-in-out;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 7px;
}
#err{
    width:200px ;
    color: rgb(109, 19, 3);
    margin-top: 1rem;
    font-size: 20px;
}
section{
    margin-top: 0.6rem;
    
}
h2,h3,h4,h5{
    font-weight: bold;
    font-size:2rem;
    transform: translateX(-100%);
}
h2{
    transition: all 2.5s ease-in-out;
}
h3{
    transition: all 3s ease-in-out;
}
h4{
    transition: all 3.5s ease-in-out;
}
h5{
    transition: all 4s ease-in-out;
}
.hiden{
    display: none;
}
@media (max-width:500px){
    #frmInt{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #search{
       margin: 5px;
    }
    h1{
        margin-top:3.3rem;
    }
}